nav li {
    float: left;
    margin: 2em;
    display: block;
    float: left;
}


section {
    margin: 2em;
}   

p {
    float: right;
    padding: 2em;

}


.socialicons{
	margin: 0 auto;
	text-align: center;
}

.socialicons li{
	display: inline-block;
	width: 4rem;
	padding: 1.5rem 2%;
	
}






