.logo {
    float: left;
    display: block;
    max-width: 110px;
    padding: .75rem;
}

nav {
    display: block;
    background: rgba(31, 114, 126, 0.17);
    height: 6em
}
    
nav li {
		display: inline-block;
		margin: 2em;
	}

.list-group-item::before {
    content:"";
}

.list-group-item {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 1.15em;
}

#search {
    display: block;
    float: right;
    margin: 2em 1em 0 0;
}

