body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;  
}

.img-flex {
    display: block;
    width: 90%;
		padding: .75em 
}

.promo {
  width: 250px;
  background: rgba(219, 219, 219, 0.79); 
  color: #fff;
  float: left;
}

.deal {
  padding: 10px 0 0 0;
}

.deal span {
  display: block;
  text-align: center;
}

.deal span:first-of-type {
  font-size: 23px;  
	text-transform: uppercase;
	color: #1f727e;
	font-weight: 700;
	font-family: "Roboto Slab", serif;
}
.deal span:last-of-type {
  font-size: 13px;
}
.promo .price {
  display: block;
  width: 250px; 
  background: rgb(235, 235, 235);
  margin: 8px 0 8px 0;
  text-align: center;
  font-size: 26px;
  padding: 17px 0 17px 0;
	color: #3098a7;
	font-weight: 700;
}

ul {
  display: block;
  margin: 20px 0 10px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #393939;
}

li {
  display: block;
  margin: 10px 0 0 0;
}

.btn {
  margin: 10px 0px 20px 70px;
}

