.img-flex {
    display: block;
    width: 100%;  
}

.product {
    background-color: rgba(219, 219, 219, 0.79);

}

ul {
  display: block;
  margin: 20px 0 10px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #393939;
  font-size: 14px
}

li {
  display: block;
  margin: 10px 0 0 0;
}

.btn {
  margin: 10px 0px 30px 90px;
}

.title {
  font-size: 23px;  
  display: block;
  text-align: center;
	text-transform: uppercase;
	color: #1f727e;
	font-weight: 700;
	font-family: "Roboto Slab", serif;
}

.media-body {
  padding: 10px 0 0 0;
}

.media-body span {
  display: block;
  text-align: center; 
}

.info {
  font-size: 13px;
  color: #fff;
}

.media-body .price {
  display: block;
  background: rgb(235, 235, 235);
  margin: 8px 0 8px 0;
  text-align: center;
  font-size: 26px;
  padding: 17px 0 17px 0;
	color: #3098a7;
	font-weight: 700;
}
