.media-img {
    display: block;
    float: left;  
    padding: 2em;
}

.media {
    background-color: rgba(219, 219, 219, 0.79);
}

.media-body {
    padding-top: 4em;
}

.span {
    display: block;
}

.media-img-small {
    float: none;
    display: block; 
    width: 100%;
    padding-left: 5em;
}

.media-small {
    padding-top: 1.5em;
}

