# Accessibility Testing Report

User testing was conducted by {Ariah Boots} on {April 7th} between the times of {3pm} and {7pm} with the following participants:

- {Melissa Roy}
- {Sean Okai}
- {Daniela Ackermann}
- {Colombina Anzivino}
- {Martine Cormier}
- {Evan Grice}

## Tasks

1. {Complete a checkout straight to thank you page}
2. {Find the Salomon snowboard boots}
3. {Complete a search}

-After all completed, return to home. 

---

## Individual Results & Observations

Tab Testing

### {Melissa Roy}

- {She completed the tab test with no problems}
- {Had no questions or comments during the test}

### {Sean Okai}

- {He completed the tab test with no problems}
- {Had no questions or comments during the test}

### {Daniela Ackermann}

- {She completed the tab test with no problems}
- {Had no questions or comments during the test}

VoiceOver Testing

### {Colombina Anzivino}

- {The tasks were completed as expected}
- {Some missing alt tags found}

### {Martine Cormier}

- {Uncertain how to return to homepage}
- {All tasks completed with no major issues}
- etc.

### {Evan Grice}

- {They completed the task as expected}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- There was no serious issue affecting the accessability of this website.

### Serious, Causes Frustration, May Hinder Completion

- There were no serious problems

### Minor, Annoying, Won’t Hinder Completion

- Make sure all alt tags are included on site