---
layout: default
title: Home
meta: Now is the time and this is the place. Welcome to the Cooler Board Shop. 
bannertext: The best shop in the business.
showbanner: yes
---

<main role="main">

<h1> Welcome to the Cooler Board Shop! </h1>
<p> We've got everything you need to get out on the hill! With the 2013/2014 season wrapping up, there are loads of deals available! Be sure to check them out! </p>

<div class="grid">
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Men's Oakley Jacket" desc="Top of the line jacket from onr of our leading brands." image="snowboarders/stalesandbech.jpg" alt="Stale Sandbech wears our orange Men's Oakley jacket"%}
    </div>
    
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Men's Burton Jacket" desc="Gore-tex guarentees you to always be dry." image="snowboarders/markmcmorris.jpg" alt="Mark McMorris is wearing a red men's Burton Gore-tex jacket"  %}
    </div>
    
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Women's Roxy Jacket" desc="One of the best selling women's jackets from this season." image="snowboarders/aimeefuller.jpg" alt="Aimee Fuller in our Purple Women's Roxy Jacket"%}
    </div>
</div>
	
</main>