---
layout: default
title: Home
meta: Now is the time and this is the place. Welcome to the Cooler Board Shop. 
bannertext: The best shop in the business.
showbanner: yes
---

<main role="main">

<div class=gutter><h1> Welcome to the Cooler Board Shop! </h1>
<p> We've got everything you need to get out on the hill! With the 2013/2014 season wrapping up, there are loads of deals available! Be sure to check them out! </p>
</div>
<div class="grid">
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
     	{% include promo-small.html title="Burton Snowboard" desc="You’re going to hate how much you love the extra soft yet snappy personality of this park destroyer." image="snowboarders/stalesandbech.jpg" alt="Stale Sandbech wears our orange Men's Oakley jacket"%}
		<a class="btn" href="{{site.baseurl}}/shop/board1/">BUY IT NOW</a>    
	</div>
    
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
    	{% include promo-small.html title="Lib Tech Snowboard" desc="Travis designed this series freeriding at home in Jackson’s big steeps with plans to take on the world. " image="snowboarders/markmcmorris.jpg" alt="Mark McMorris is wearing a red men's Burton Gore-tex jacket"%}
		<a class="btn" href="{{site.baseurl}}/shop/board3/">BUY IT NOW</a>  
	</div>
    
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Capita Snowboard" desc="Team designed, team ridden, and the #1 selling board in the CAPiTA line means that the Horrorscope is a must-have board for your quiver. One of the best urban and park boards in the game." image="snowboarders/aimeefuller.jpg" alt="Aimee Fuller in our Purple Women's Roxy Jacket"%}
		<a class="btn" href="{{site.baseurl}}/shop/board2/">BUY IT NOW</a>
	</div>
</div>
	
</main>