# User Testing Report

User testing was conducted by {Ariah Boots} on {March 26} between the times of {4:00} and {6:00} with the following participants:

- {Colombina Anzivino}
- {Martine Cormier}
- {Evan Grice}

## Tasks

1. {Complete a checkout straight to thank you page}
2. {Find the Salomon snowboard boots}
3. {Comlpete a search}

-After all completed, return to home. 

---

## Individual Results & Observations

### {Colombina Anzivino}

- {Had no problem with the tasks}
- {Suggested it easier to distinguish the product images by making them different}
- {Hesitated a bit on the page with all the products}
- {Clicked logo to return back home but it wasn't clickable}

### {Martine Cormier}

- {Tried clicking on the front promos but none were clickable}
- {Navigated without problem, made comment about no images on product details}

### {Evan Grice}

- {Clicked the link as expected}
- {He had no problems navigating through the tasks}
- {Had design related comments}
---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All tasks were completed without major issues}

### Serious, Causes Frustration, May Hinder Completion

- {No serious problems}

### Minor, Annoying, Won’t Hinder Completion

- {Participants suggested fixing the logo to make it return home and also making front page promo buttons}
- {Add images to the product details}
