# User Testing Report

User testing was conducted by {Ariah Boots} on {March 26} between the times of {4:00} and {6:00} with the following participants:

- {Colombina Anzivino}
- {Martine Cormier}
- {Evan Grice}

## Tasks

1. {Complete a checkout straight to thank you page}
2. {Find the Salomon snowboard boots}
3. {Third task description here}

---

## Individual Results & Observations

### {Jane Doe}

- {She clicked on the link as expected…}
- {She had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {John Doe}

- {He clicked on the link as expected…}
- {Tried clicking on the logo to go home but logo wasn't clickable}
- {He asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {Jordan Doe}

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.