---
layout: default
title: Shop
bannertext: All the different products
meta: We provide you with everything you need to hit the slopes. 
---

<ul>
    {% for shop in site.pages %}
        {% if shop.category == 'shop' %}
            <li>
                <a href="{{site.baseurl}}{{shop.url}}"> 
                    {{shop.name}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<h1>Shop</h1>
 
<p>We supply you with a variety of different snowboard brands and equipment. Our prices have been unbeatable for years so you are guarenteed to not find your gear cheaper anywhere else.</p>

    
<div class="grid">
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2"> 
        <ul>
        {% for shop in site.pages %}
            {% if shop.category == 'boots' %}
                <li>
                    <a href="{{site.baseurl}}{{shop.url}}"> 
                         <img src="{{site.baseurl}}/images/{{shop.image}}" alt="{{shop.name}}"> 
                        {{shop.name}}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
        
    <div class="unit unit-s-1 unit-m-1-2 unit-l-2-"> 
        <ul>
            {% for shop in site.pages %}
                {% if shop.category == 'boards' %}
                    <li>
                        <a href="{{site.baseurl}}{{shop.url}}"> 
                             <img src="{{site.baseurl}}/images/{{shop.image}}" alt="{{shop.name}}"> 
                            {{shop.name}}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
</div>



