---
layout: default
title: Cart
meta: "All your new goodies"
---

<h1>{{page.name}}</h1>

<div class="product">
    <div class="media">
        <div class="media-img media-img-stacked">
            <img class="img-flex" src="{{site.baseurl}}/images/{{page.image}}" alt="{{page.name}}">
        </div>

        <div class="media-body">
         	<h2 class="title">{{page.name}}</h2>
					<span class="info">The Best of the best!</span>
					
					<ul class="features">
						<li>Some great feature</li>
						<li>Another super feature</li>
						<li>And more...</li>
          </ul>
					
					<p> There are lots of great things about this product. I love everything it has to offer. Lots of awesome stuff and gadgets etc. </p>
					
        
					<span class="price">$79</span>
					
					<a class="btn" href="{{site.baseurl}}/cart/">BUY NOW</a> 
     
        </div>
    </div>
</div>




<a class="btn" href="{{site.baseurl}}/thank-you/">CHECKOUT</a>    